<nav>
    <div class="nav text-center" style="width:100%">
      <div class="card-body">
        <a class="card-title" href="#/registroAcceso/"><h1>Sistema de Control de Acceso</h1></a>
      </div>
    </div>
    <ul class="nav justify-content-center nav-tabs" >
        <li class="nav-item">
          <a class="nav-link" routerLink="registroAcceso" routerLinkActive="active">Registro de Acceso</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="registroUsuario" routerLinkActive="active">Registro de Usuario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="busquedaRegistro" routerLinkActive="active">Busqueda de Registro</a>
        </li>
    </ul>
</nav>

<router-outlet>

</router-outlet>

<footer class="text-center text-white" style="background-color: #f1f1f1">
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Sistema de Control de Acceso | Equipo 4 | Ana Sofia Hurtado | Mision Tic | Univesidad Autónoma de Bucaramanga   
    </div>
  </footer>